
/*h2,h1{
    margin-top:5px;
    margin-bottom:5px;
}*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:#ededed
}
body{
    background-color: #222720;
}

.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 10%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 25px;
  
  text-decoration: none;
  font-weight: 600;
  background-color: #e7d8bc;
    background-image: linear-gradient(45deg, #e7d8bc, #8B4D4E);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
  font-size: 18px;
  color:#ededed;
  text-decoration: none;
  font-weight: 600;
  margin-left:35px;
  transition:.3s;
}
.navbar a:hover,
.navbar a.active {
  color:#daa38b;
}
.intro{
  display:flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}
.introtext{
  max-width: 50%;
}
.introtext h1{
  font-size: 52px;
  font-weight: 700;
  margin-bottom:10px;
}
.introtext h2{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
  background-color: #e7d8bc;
    background-image: linear-gradient(45deg, #e7d8bc, #8B4D4E);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.introtext h3{
  font-size:16px;
  margin: 20px 0 40px;

}
.introtext .btn{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #daa38b;
  border: 2px solid #daa38b;
  border-radius: 8px;
  font-size: 19px;
  color:#222720;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}
.btn a:nth-child(2){
  background: transparent;
  color: #daa38b;
}
.btn a:nth-child(2):hover{
  color:#222720;
}
.btn a:nth-child(2)::before{
  background: #daa38b;
}
.btn a::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #222720;
  z-index: -1;
  transition: .5s;
}
.btn a:hover:before{
  width: 100%;
}
.btn a:hover{
  color:#daa38b
}

.home-sci{
  position:absolute;
  bottom:40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background:transparent;
  border: 2px solid #daa38b;
  border-radius: 50%;
  font-size: 20px;
  color:#daa38b;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
}
.home-sci a:hover{
  color:#222720;
}
.home-sci a::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background: #daa38b;
  z-index: -1;
  transition: .5s;
}
.home-sci a:hover:before{
  width: 100%;
}